@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Herr+Von+Muellerhoff&family=Lobster&family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
img{
    width: 10%;
    right: 100%;
}
h5{
    font-family: 'Lobster', cursive;
    color: #f5c60b;
    font-weight: bold;
    font-size: 350%;
    text-shadow: 1px 10px 1px black;
}
p{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 100%;
    text-shadow: 3px 3px 3px black;
}
h1{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 600%;
    text-shadow: 1px 5px 5px rgb(155, 4, 168);
    
}
.header{
    background-image: linear-gradient(to right,#323232,#FA4EAB,#FE83C6,#FFF2F9 );
    animation: color 7s ease infinite;
}

.fototitulo{
    position: absolute;
    border-radius: 50%;
   width: 100px;
   right: 100px;
   margin-right: 70%;
   margin-top: 8px;
   border: solid 20px  #f50bce;
   border-style: groove;
}
@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
footer{
    background-color: black;
    color: white;
    margin-bottom: 25px;
}