body{
    background-color: lightpink;
}
h1{
    color: rgb(230, 73, 190);
    text-shadow:6px 10px 1px;
    margin-top: 0;
    text-align: center;
    font-family: Arial;
    font-size: 100px;
    font-weight: 700;
    
}
nav#menu{
    text-shadow: 0 5px 0;
    display: inline-block;
    color: rgb(10, 218, 207);
    font-family: arial;
    font-size: 14;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    cursor:pointer
  
}